$heroFont: 'Questrial', sans-serif;
$textFont: 'Noto Sans', sans-serif;
body{
  margin: 0;
}

.hero{
  height: 100vh;
  background: linear-gradient(120deg, #13abed, #a50909, #f9e502);
  background-size: 600% 600%;
  animation: heroAnimation 120s ease infinite;
}
@keyframes heroAnimation {
    0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}
div{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-family: $heroFont;
    font-size: 8vw;
    letter-spacing: 0.1em;
    color: #FFF;
    text-shadow: #aaa 1px 0 3px;
    text-transform: uppercase;
    margin: 0;
    padding: 50px 0 25px 0;
  }
  img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 5px solid #FFF;
  }
  h2{
    font-size: 2.5vw;
    font-family: $heroFont;
    text-transform: uppercase;
    color: #FFF;
  }
}
.hover{
  opacity: 0;
}
.hide{
  display: none;
}

.scrollUp{
  animation-duration: 1s;
  animation-name: scrollIntoView;
}

@keyframes scrollIntoView {
  from {
    margin-top: 100vh;
  }
  to {
    margin-top: 0;
  }
}

.navbar {
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  a {
    border: 2px solid transparent;
    font-family: $textFont;
    float: left;
    display: block;
    color: #fff;
    text-shadow: #aaa 1px 0 1px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2vw;
    margin: 3px;
    transition: border-color .2s ease-in-out;
    &:hover {
      border: 2px solid #fff;
    }
    &.active{
      text-decoration: underline;
    }
  }
}
.contentActiveNavbar{
  overflow: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  a {
    border: 2px solid transparent;
    font-family: $textFont;
    float: left;
    display: block;
    color: #000;
    text-shadow: #aaa 1px 0 1px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2vw;
    margin: 3px;
    transition: border-color .2s ease-in-out;
    &:hover {
      border: 2px solid #000;
    }
    &.active{
      text-decoration: underline;
    }
  }
}
